@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #85c1e9, #8e44ad);
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('Images/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.navbar-brand {
    font-weight: 600;
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #007BFF;
}

.custom-button {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: rgb(0, 0, 0);
}

.custom-button:hover {
    background-color: hsl(267, 9%, 52%);
}

.card {
    border: none;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

/* Additional Styles */
/* Add any additional styles you need for your page here */

